In [1]:
from preproc import PreProcessor

pp = PreProcessor()

[nltk_data] Downloading package stopwords to
[nltk_data]     /homes/ss5120/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
pp.raw_train.head()

,par_id,community,text,label
0,4341,poor-families,"The scheme saw an estimated 150,000 children f...",1
1,4136,homeless,Durban 's homeless communities reconciliation ...,1
2,10352,poor-families,The next immediate problem that cropped up was...,1
3,8279,vulnerable,Far more important than the implications for t...,1
4,1164,poor-families,To strengthen child-sensitive social protectio...,1

In [3]:
pp.raw_dev.head()

  par_id community                                               text  label
0   4046  hopeless  We also know that they can benefit by receivin...      1
1   1279   refugee  Pope Francis washed and kissed the feet of Mus...      1
2   8330   refugee  Many refugees do n't want to be resettled anyw...      1
3   4063   in-need  "Budding chefs , like "" Fred "" , "" Winston ...      1
4   4089  homeless  "In a 90-degree view of his constituency , one...      1

In [4]:
pp.raw_dev[['text', 'label']].head()

                                                text  label
0  We also know that they can benefit by receivin...      1
1  Pope Francis washed and kissed the feet of Mus...      1
2  Many refugees do n't want to be resettled anyw...      1
3  "Budding chefs , like "" Fred "" , "" Winston ...      1
4  "In a 90-degree view of his constituency , one...      1

In [5]:
# Downsample
pp.downsample_neg()

In [6]:
pp.augmented.head()

,par_id,community,text,label
0,4341,poor-families,"The scheme saw an estimated 150,000 children f...",1
1,4136,homeless,Durban 's homeless communities reconciliation ...,1
2,10352,poor-families,The next immediate problem that cropped up was...,1
3,8279,vulnerable,Far more important than the implications for t...,1
4,1164,poor-families,To strengthen child-sensitive social protectio...,1

In [7]:
from bert_model import Model

baseline_downsampled = Model("baseline")
baseline_downsampled.train(pp.augmented, pp.raw_dev)

Failed to detect the name of this notebook, you can set it manually with the WANDB_NOTEBOOK_NAME environment variable to enable code saving.
Some weights of RobertaForSequenceClassification were not initialized from the model checkpoint at roberta-base and are newly initialized: ['classifier.dense.bias', 'classifier.dense.weight', 'classifier.out_proj.bias', 'classifier.out_proj.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Map:   0%|          | 0/2382 [00:00<?, ? examples/s]

Map:   0%|          | 0/2094 [00:00<?, ? examples/s]

In [8]:
baseline_downsampled.evaluate_dev()

{'eval_loss': 0.41129231452941895,
 'eval_accuracy': 0.7979942693409742,
 'eval_f1': 0.4291497975708502,
 'eval_precision': 0.2933579335793358,
 'eval_recall': 0.7989949748743719,
 'eval_runtime': 2.0867,
 'eval_samples_per_second': 1003.476,
 'eval_steps_per_second': 15.814,
 'epoch': 1.0}

In [9]:
preds = baseline_downsampled.inference(pp.raw_dev[['text']])
preds

Map:   0%|          | 0/2094 [00:00<?, ? examples/s]

array([[-0.5622045 ,  0.53090525],
       [-0.6858218 ,  0.5857319 ],
       [ 0.4079802 , -0.6063364 ],
       ...,
       [ 0.5346153 , -0.9758953 ],
       [-0.5430304 ,  0.57654124],
       [ 1.1885254 , -1.5426267 ]], dtype=float32)

In [10]:
preds.shape

(2094, 2)