In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, precision_recall_fscore_support, log_loss
from preproc import PreProcessor

pp = PreProcessor()

[nltk_data] Downloading package stopwords to
[nltk_data]     /homes/tg1120/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
pp.raw_train.head()

,par_id,community,text,label
0,4341,poor-families,"The scheme saw an estimated 150,000 children f...",1
1,4136,homeless,Durban 's homeless communities reconciliation ...,1
2,10352,poor-families,The next immediate problem that cropped up was...,1
3,8279,vulnerable,Far more important than the implications for t...,1
4,1164,poor-families,To strengthen child-sensitive social protectio...,1

In [3]:
pp.raw_dev.head()

  par_id community                                               text  label
0   4046  hopeless  We also know that they can benefit by receivin...      1
1   1279   refugee  Pope Francis washed and kissed the feet of Mus...      1
2   8330   refugee  Many refugees do n't want to be resettled anyw...      1
3   4063   in-need  "Budding chefs , like "" Fred "" , "" Winston ...      1
4   4089  homeless  "In a 90-degree view of his constituency , one...      1

In [4]:
pp.raw_dev[['text', 'label']].head()

                                                text  label
0  We also know that they can benefit by receivin...      1
1  Pope Francis washed and kissed the feet of Mus...      1
2  Many refugees do n't want to be resettled anyw...      1
3  "Budding chefs , like "" Fred "" , "" Winston ...      1
4  "In a 90-degree view of his constituency , one...      1

In [5]:
# Downsample
pp.downsample_neg()

In [6]:
pp.augmented.head()

,par_id,community,text,label
0,4341,poor-families,"The scheme saw an estimated 150,000 children f...",1
1,4136,homeless,Durban 's homeless communities reconciliation ...,1
2,10352,poor-families,The next immediate problem that cropped up was...,1
3,8279,vulnerable,Far more important than the implications for t...,1
4,1164,poor-families,To strengthen child-sensitive social protectio...,1

In [7]:
vectorizer = CountVectorizer(ngram_range=(1, 2))
X_train = vectorizer.fit_transform(pp.augmented['text'])
y_train = pp.augmented['label']
X_dev = vectorizer.transform(pp.raw_dev['text'])
y_dev = pp.raw_dev['label']
clf = MultinomialNB()
clf.fit(X_train, y_train)
y_pred_dev = clf.predict(X_dev)
y_pred_proba = clf.predict_proba(X_dev)

In [8]:
accuracy = accuracy_score(y_dev, y_pred_dev)
precision, recall, f1, _ = precision_recall_fscore_support(y_dev, y_pred_dev, average='binary')
log_loss_val = log_loss(y_dev, y_pred_proba)

metrics = {
    'eval_loss': log_loss_val,
    'eval_accuracy': accuracy,
    'eval_f1': f1,
    'eval_precision': precision,
    'eval_recall': recall,
}

print(metrics)

{'eval_loss': 0.7504597337457393, 'eval_accuracy': 0.8739255014326648, 'eval_f1': 0.3333333333333333, 'eval_precision': 0.3350253807106599, 'eval_recall': 0.3316582914572864}

/vol/bitbucket/tg1120/dlcw/lib/python3.10/site-packages/sklearn/metrics/_classification.py:2969: UserWarning: The y_pred values do not sum to one. Starting from 1.5 thiswill result in an error.
  warnings.warn(

In [9]:
y_pred_dev

array([1, 1, 0, ..., 0, 1, 0])

In [10]:
y_pred_dev.shape

(2094,)