In [10]:
from preproc import PreProcessor

pp = PreProcessor()

In [11]:
pp.raw_train.head()

,par_id,community,text,label
0,4341,poor-families,"The scheme saw an estimated 150,000 children f...",1
1,4136,homeless,Durban 's homeless communities reconciliation ...,1
2,10352,poor-families,The next immediate problem that cropped up was...,1
3,8279,vulnerable,Far more important than the implications for t...,1
4,1164,poor-families,To strengthen child-sensitive social protectio...,1

In [12]:
pp.raw_dev.head()

  par_id community                                               text  label
0   4046  hopeless  We also know that they can benefit by receivin...      1
1   1279   refugee  Pope Francis washed and kissed the feet of Mus...      1
2   8330   refugee  Many refugees do n't want to be resettled anyw...      1
3   4063   in-need  "Budding chefs , like "" Fred "" , "" Winston ...      1
4   4089  homeless  "In a 90-degree view of his constituency , one...      1

In [13]:
pp.raw_dev[['text', 'label']].head()

                                                text  label
0  We also know that they can benefit by receivin...      1
1  Pope Francis washed and kissed the feet of Mus...      1
2  Many refugees do n't want to be resettled anyw...      1
3  "Budding chefs , like "" Fred "" , "" Winston ...      1
4  "In a 90-degree view of his constituency , one...      1

In [14]:
# Downsample
downsample_train = pp.downsample_neg()

In [15]:
downsample_train[['text', 'label']].head()

                                                text  label
0  The scheme saw an estimated 150,000 children f...      1
1  Durban 's homeless communities reconciliation ...      1
2  The next immediate problem that cropped up was...      1
3  Far more important than the implications for t...      1
4  To strengthen child-sensitive social protectio...      1

In [16]:
from bert_model import Model

baseline_downsampled = Model("baseline")
baseline_downsampled.train(downsample_train, pp.raw_dev)

Device: cuda

Some weights of RobertaForSequenceClassification were not initialized from the model checkpoint at roberta-base and are newly initialized: ['classifier.dense.bias', 'classifier.dense.weight', 'classifier.out_proj.bias', 'classifier.out_proj.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Map:   0%|          | 0/2382 [00:00<?, ? examples/s]

Map:   0%|          | 0/2094 [00:00<?, ? examples/s]

In [17]:
baseline_downsampled.evaluate()

{'eval_loss': 0.3892190456390381,
 'eval_accuracy': 0.8175740210124164,
 'eval_f1': 0.4495677233429395,
 'eval_precision': 0.3151515151515151,
 'eval_recall': 0.7839195979899497,
 'eval_runtime': 11.6912,
 'eval_samples_per_second': 179.108,
 'eval_steps_per_second': 2.823,
 'epoch': 1.0}